<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        h1{
            background-color:teal;
            text-align:center;
            color:white;
        }
    </style>
</head>
<body>
    <h1>header</h1>
    <div>
        @RenderBody()
    </div>
    <h1>Footer</h1>
</body>
</html>
